
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_8_0.xml
.idea/libraries/Maven__com_google_guava_guava_21_0.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__net_md_5_bungeecord_chat_1_15_SNAPSHOT.xml
.idea/libraries/Maven__org_spigotmc_spigot_api_1_15_2_R0_1_SNAPSHOT.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_25.xml
.idea/misc.xml
.idea/modules.xml
.idea/TitleArea.iml
.idea/vcs.xml
*.class
*.class
*.jar
